build/
extras.txt
.cache/
CountDist2.egg-info/
.eggs/
.coverage
*.swp
*~
temp/
*.out
*run
run
*.pyc
*.o
tests/test_results/
tests/test_data/cpp_seps_catalog_three_objects.txt
tests/test_data/python_seps_catalog_three_objects.txt
*_backup.*
src/v1/
src/v2/
include/v1/
include/v2/
dist/

# CMake stuff
*CMakeCache.txt
*CMakeFiles
*CMakeScripts
*Makefile
*cmake_install.cmake
*install_manifest.txt
*compile_commands.json
*Testing
*CTestTestfile.cmake

# C++ compile stuff
*.so
*bin/

# CLion stuff
*.idea
*cmake-build-debug
*CountDistCPP.cbp

# Older files: ignore all files except the ones that are still valid
include/v4/*.h
!includ/v4/calc_distances.h
src/v4/*.cpp
!src/v4/calc_distances.cpp
!src/v4/bind_calc_distances.cpp
countdist2/file_io.py
